<div class="bill" fxLayout="row wrap">
  <mat-card *ngIf="currentBill.id" fxFlex="auto" class="bill-form">
    <app-bill-details [billDetails]="currentBill" [readonly]="true"></app-bill-details>
  </mat-card>
  <mat-card fxFlex="auto" class="bill-form">
    <app-bill-create [billCreate]="currentBill" [readonly]="false" (valid)="onValidate($event)"></app-bill-create>
    <button *ngIf="!currentBill.id" mat-button (click)="generateBill()" [disabled]="!billCreateValid || isLoading">
      Generate
    </button>
    <button
      *ngIf="currentBill.id"
      mat-button
      (click)="updateBill()"
      [disabled]="
        !billCreateValid ||
        isLoading ||
        currentBill.status == constants.BILL_STATUS_ACCEPTED ||
        currentBill.status == constants.BILL_STATUS_SENT
      "
    >
      Update
    </button>
    <button
      *ngIf="currentBill.id"
      mat-button
      (click)="sendBill()"
      [disabled]="!billCreateValid || isLoading || currentBill.status != constants.BILL_STATUS_SAVED"
    >
      Send to manager
    </button>
  </mat-card>
  <mat-card class="bill-list" fxFlex.sm="100" fxFlex.md="100" fxFlex.gt-md="100">
    <h1 mat-dialog-title>Archived bills</h1>
    <app-bill-list
      *ngIf="archivedBills"
      [billList]="archivedBills"
      [displayedColumns]="showColumns"
      (pagerChange)="onPagerChane($event)"
    ></app-bill-list>
  </mat-card>
</div>
