mwl-calendar-month-view {
  width: 100%;
  min-width: 800px;

  .cell-container {
    .hour-count {
      line-height: 3;
      font-size: 1.2em;
      float: left;
      margin-left: 25px;
    }

    .project-name {
      margin: 5px;
    }

    .add-hours-text {
      display: none;
      opacity: 0.7;
      margin: 5px;
    }

    &:hover .add-hours-text {
      display: inline;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
