<div class="row text-center">
  <div class="col-md-2 col-sm-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="onMonthChange()"
        translate
      >
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="onMonthChange()" translate>
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="onMonthChange()" translate>
        Next
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-6">
    <h3>{{ viewDate | calendarDate: view + 'ViewTitle':'en' }}</h3>
  </div>

  <mwl-calendar-month-view
    [cellTemplate]="monthCellTemplate"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  ></mwl-calendar-month-view>

  <ng-template #monthCellTemplate let-day="day" let-locale="locale">
    <div class="cell-container">
      <div class="cal-cell-top">
        <span *ngIf="day.events.length > 0" class="hour-count">{{ day.events[0].id }}h</span>
        <span class="cal-day-number">{{ day.date | calendarDate: 'monthViewDayNumber':locale }}</span>
      </div>
      <span class="project-name" *ngIf="day.events.length > 0">{{ day.events[0].title }}</span>
      <span class="add-hours-text" *ngIf="day.events.length == 0">Add hours</span>
    </div>
  </ng-template>
</div>
